<div class="tab-items py-5">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag 'c1.jpg', class: "item_picture" %>
        <div class="block_title">
          <h6 class="item_title" style="margin-left:10px">
            title1
          </h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag 'c2.jpg', class: "item_picture" %>
        <div class="block_title">
          <h6 class="item_title" style="margin-left:10px">
            title2
          </h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag 'c3.png', class: "item_picture" %>
        <div class="block_title">
          <h6 class="item_title" style="margin-left:10px">
            title3
          </h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag 'c4.jpg', class: "item_picture" %>
        <div class="block_title">
          <h6 class="item_title" style="margin-left:10px">
            title4
          </h6>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag 'c5.jpg', class: "item_picture" %>
        <div class="block_title">
          <h6 class="item_title" style="margin-left:10px">
            title5
          </h6>
        </div>
      </div>
    </div><div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <%= image_tag 'c6.png', class: "item_picture" %>
        <div class="block_title">
          <h6 class="item_title" style="margin-left:10px">
            title6
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
