<div class="mid-container">
  <div style="display:flex;justify-content:flex-end;margin:10px 0;">
    <%= form_tag picnics_path, class: "form-inline my-2 my-lg-0", method: "get", enforce_utf8: false do %>
      <%= text_field :search, params[:search], type: "search", class: "form-control mr-sm-2", placeholder: "검색하기" %>
      <%= submit_tag "검색", name: nil, class: "btn btn-success my-2 my-sm-0" %>
    <% end %>
  </div>

  <div>
    <ul class="nav nav-tabs" style="display:flex;justify-content:space-around;margin-bottom:10px;">
      <li class="active"><a data-toggle="tab" href="#home" class="nav-link active">전체</a></li>
      <% @areas.each do |area| %>
          <li><a data-toggle="tab" href="#<%= area %>" class="nav-link"><%= area %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="category_btn" style="text-align:center;">
    <% @categories.each do |ca| %>
      <button type="button" class="btn btn-secondary category_btn"><%= ca %></button>
    <% end %>
  </div>

  <div class="tab-content">
    <div id="home" class="tab-pane in active">
      <%= render 'tab-all' %>
    </div>
    <% @areas.each do |area| %>
      <div id="<%= area %>" class="tab-pane fade">
        <%= render 'tab-area', area: area %>
      </div>
    <% end %>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br>

<script>
  // $('.category_btn button').on("click",function(){
  //   $.get('/picnics/'+$(this).text() +'/category')
  // })
</script>
